<% include ./partials/header %>
<div class="welcome">
  <h3>Hello <%= name %></h1>
  <h4>You are viewing feedback on <%= business %></h2>
</div>
<ul>
  <% for (var i = 0; i < answer.length; i ++){ %>
  <li><%= answer[i].answer1 %></li>
  <li><%= answer[i].answer2 %></li>
  <li><%= answer[i].answer3 %></li>
  <li><%= answer[i].answer4 %></li>
  <br>
<% } %>
</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<% include ./partials/footer %>
