<% include ./partials/header %>
<div class="welcome">
  <h1>Hello <%= name %></h1>
  <h4>You are viewing feedback on <%= business %></h4>
  <h5>If you'd like to see the customer view, Click <a href="http://ezfeedback.herokuapp.com/survey/<%= surveyName %>">Here</a>
</div>
<ul>
  <% for (var i = 0; i < answer.length; i ++){ %>
  <li><%= questions[0] %>: <%= answer[i].answer1 %></li>
  <li><%= questions[1] %>: <%= answer[i].answer2 %></li>
  <li><%= questions[2] %>: <%= answer[i].answer3 %></li>
  <li><%= questions[3] %>: <%= answer[i].answer4 %></li>
  <br>
<% } %>
</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<% include ./partials/footer %>
